name: Test action (Python)

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test-output-method-setup:
    name: Set min-version=3
    runs-on: ubuntu-latest
    outputs:
      version-matrix: ${{ steps.get-versions.outputs.latest-versions }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Get versions
        uses: ./
        id: get-versions
        with:
          language: python
          min-version: 3.8

  test-output-method-load:
    name: Build Maxtrix for min-version=3
    needs: test-output-method-setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version-matrix: ${{fromJson(needs.test-output-method-setup.outputs.version-matrix)}}
    steps:
      - name: Setup Python ${{ matrix.version-matrix }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version-matrix }}

  test-output-method-setup-eol:
    name: Set min-version=EOL
    runs-on: ubuntu-latest
    outputs:
      version-matrix: ${{ steps.get-versions.outputs.latest-versions }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Get versions
        uses: ./
        id: get-versions
        with:
          language: python
          min-version: EOL

  test-output-method-load-eol:
    name: Build Maxtrix for min-version=EOL
    needs: test-output-method-setup-eol
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version-matrix: ${{fromJson(needs.test-output-method-setup-eol.outputs.version-matrix)}}
    steps:
      - name: Setup Python ${{ matrix.version-matrix }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version-matrix }}

  test-output-method-setup-highest-only:
    name: Highest version only
    runs-on: ubuntu-latest
    outputs:
      highest-version: ${{ steps.get-versions.outputs.latest-versions }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Get versions
        uses: ./
        id: get-versions
        with:
          language: python
          highest-only: true

  test-output-method-load-highest-only:
    name: Build for highest version only
    needs: test-output-method-setup-highest-only
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python ${{ needs.test-output-method-setup-highest-only.outputs.highest-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ needs.test-output-method-setup-highest-only.outputs.highest-version }}
